.super-mario {
    position: absolute;
    width: 200px;
    float: left;
  }
  
  .baloon {
    position: absolute;
    margin-left: 200px;
  } 

  .goomba {
    width: 100px;
    margin-top: 350px;
  }
  
  .speach {
    position: absolute;
    font-size: 25px; 
    margin-left: 310px;
    margin-top: 60px;
    z-index: 1; 
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-left: 500px;
  }